<div class="form--container">


  <div class="personal--info-container">
  <div class="personal--info-title ">
    <h2 class="pers">Finishing up</h2>
    <p>Double-check everything looks OK before confirming.</p>
  </div>
<div class="row">
  <div class="card " >
    <div class="form-check" *ngFor="let item of items">
      <div class="card-body" >
<div class="one" >
<label class="form-check-label checkFor" for="flexCheckDefault">
  {{item.plan}} {{item.monthly === '' ? item.yearly : item.monthly}}
  </label>
  <p class="card-text prices modeprice" *ngIf="item.price !== ''">${{item.price}}</p>
<h5 class="card-title chang" (click)="onPrevStep(2)">Change</h5>
</div>
      </div>
<div class="card-body" *ngFor="let addOn of extras">

  <ul class="boxin">
    <li class="list-group-item second">{{addOn.name}}
    <p class="card-text prices" *ngIf="item.monthly === ''">+${{addOn.price}}/yr</p>
    <p class="card-text prices" *ngIf="item.monthly !== ''">+${{addOn.price}}/mo</p>
  </li>
  </ul>

       </div>
      </div>
    </div>
  </div>

<div *ngFor="let item of items">
  <div class="card-body" *ngIf="item.monthly !== ''">
    <ul class="list-group list-group-flush third">
      <li class="list-group-item third">Total (per month) <p class="card-text finalprices">+${{totalAmount}}/mo</p></li>
    </ul>
  </div>

  <div class="card-body" *ngIf="item.monthly === '' && item.price !== ''">
    <ul class="list-group list-group-flush third">
      <li class="list-group-item third">Total (per year) <p class="card-text finalprices">+${{totalAmount}}/yr</p></li>
    </ul>
  </div>
</div>

<div class="midlespace">

</div>

  <div class="form--buttons">
    <a  class="linkZaNazad" (click)="onPrevStep(3)">Go Back</a>
    <button
    class="btn btn-primary submit" (click)="onNextStep(5); removeLocalStorageData()" [disabled]="allItems.length === 0">Confirm</button>
    </div>
</div>
</div>
